<center><h2>SOUMYA BASU</h2></center>
<center><h2>23MDT0047</h2></center>

In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from scipy.stats import f

#### Question 1
Perform one sample Hottling T2 for the following data also apply two sample Hottling T2 on your own data.
Keep the data size below 30 for each sample

In [2]:

def hotellings_t_squared_test(X, mu):
    # Number of observations (n) and number of variables (p)
    n, p = X.shape

    # Hypothesized mean vector (mu) - Assuming population mean is a vector of 0s

    # Calculate sample mean vector (X_bar)
    X_bar = np.mean(X, axis=0)

    # Calculate sample covariance matrix (S)
    S = np.cov(X, rowvar=False)

    # Calculate Hotelling's T-squared statistic
    T_squared = n * np.dot(np.dot((X_bar - mu).T, np.linalg.inv(S)), (X_bar - mu))

    # Calculate F-statistic equivalent
    F_stat = (n - p) / (p * (n - 1)) * T_squared

    # Degrees of freedom for F-distribution
    df1 = p  # Degrees of freedom 1
    df2 = n - p  # Degrees of freedom 2

    # p-value
    p_value = 1 - f.cdf(F_stat, df1, df2)

    return T_squared, F_stat, p_value

In [3]:
data = pd.read_excel('Footwear_Quality_Assessment.xlsx')
print("shape of dataframe", data.shape)

dash_line = '-'.join('' for x in range(60))

print(dash_line)
print(data.columns)

shape of dataframe (25, 6)
-----------------------------------------------------------
Index(['Subject', 'Style', 'Comfort', 'Stability', 'Cushion', 'Durability'], dtype='object')

In [4]:
assumed_mean_vector = [7, 8, 5, 6,11] ## assumed based on the given data
result = hotellings_t_squared_test(data.drop(columns=['Subject']).values, assumed_mean_vector)
print("Hotelling's T-squared statistic:", result[0])
print(dash_line)
print("F-statistic:", result[1])
print(dash_line)
print("p-value:",round(result[2], 16))

Hotelling's T-squared statistic: 21.999714884305625
-----------------------------------------------------------
F-statistic: 3.666619147384271
-----------------------------------------------------------
p-value: 0.016201732088495


#### conclusion
We reject the null hypothesis since p-value(0.01) < alpha value (0.05)

In [5]:

def TwoSampleT2Test(X, Y):
    """
    Performs a two-sample Hotelling's T-squared test.

    Parameters:
    X (numpy.ndarray): Matrix of data for group 1, with observations as rows and variables as columns.
    Y (numpy.ndarray): Matrix of data for group 2, with observations as rows and variables as columns.

    Returns:
    tuple: Contains Hotelling's T-squared statistic, F-statistic, and p-value.
    """
    # Number of observations for each sample (n1 for X, n2 for Y)
    n1, p1 = X.shape
    n2, p2 = Y.shape

    # Ensure the number of variables is the same in both samples
    assert p1 == p2, "Both groups must have the same number of variables."
    p = p1  # Number of variables (dimensions)

    # Calculate mean vectors for each sample
    X_bar = np.mean(X, axis=0)
    Y_bar = np.mean(Y, axis=0)

    # Calculate pooled covariance matrix (S_pooled)
    S_X = np.cov(X, rowvar=False)
    S_Y = np.cov(Y, rowvar=False)
    S_pooled = ((n1 - 1) * S_X + (n2 - 1) * S_Y) / (n1 + n2 - 2)

    # Calculate the difference in the mean vectors
    mean_diff = X_bar - Y_bar

    # Calculate Hotelling's T-squared statistic
    T_squared = (n1 * n2) / (n1 + n2) * np.dot(np.dot(mean_diff.T, np.linalg.inv(S_pooled)), mean_diff)

    # Calculate F-statistic equivalent
    F_stat = (n1 + n2 - p - 1) / (p * (n1 + n2 - 2)) * T_squared

    # Degrees of freedom for F-distribution
    df1 = p  # Degrees of freedom 1
    df2 = n1 + n2 - p - 1  # Degrees of freedom 2

    # p-value
    p_value = 1 - f.cdf(F_stat, df1, df2)

    return T_squared, F_stat, p_value

In [6]:

data = pd.read_csv("Real-estate.csv")
data.shape

(414, 8)

In [7]:
group1 = data.iloc[:15, 1:]
group2 = data.iloc[15:30, 1:]

In [8]:
# Run the two-sample Hotelling's T-squared test
T_squared, F_stat, p_value = TwoSampleT2Test(group1, group2)

print("Hotelling's T-squared statistic:", T_squared)
print(dash_line)
print("F-statistic:", F_stat)
print(dash_line)
print("p-value:", p_value)

Hotelling's T-squared statistic: 15.57818305545573
-----------------------------------------------------------
F-statistic: 1.7485715674491125
-----------------------------------------------------------
p-value: 0.14929486734301478

We accept our null hypothesis since p(0.14) > alpha value(0.05)

#### Question 2
Generate a data for 40 different cars based on the variables ‘Price’, ‘Distance’,
‘Emission’, ‘Performance’, ‘Mileage’. 

Perform Malonobis D2 analysis. Comment on the 
results.

In [34]:

# Set random seed for reproducibility
np.random.seed(60)

# Generate synthetic data for 40 cars
data = {
    'Price': np.random.uniform(15000, 50000, 40),         # Prices between $15,000 and $50,000
    'Distance': np.random.uniform(300, 800, 40),         # Distance between 0 and 300,000 km
    'Emission': np.random.uniform(50, 200, 40),           # Emissions between 50g/km and 400g/km
    'Performance': np.random.uniform(100, 500, 40),       # Performance score between 100 and 500
    'Mileage': np.random.uniform(15, 40, 40)              # Mileage between 10 and 40 miles per gallon
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Print the first few rows of the data
print(df.head())

          Price    Distance    Emission  Performance    Mileage
0  25530.566552  427.504224  116.525269   353.012446  30.907184
1  21543.103572  681.959267   98.837476   173.441809  20.234804
2  26311.393694  783.290150  143.086018   490.147319  32.593476
3  38301.234960  567.379153  140.569242   330.464130  28.771174
4  34843.978034  515.433958  124.058000   235.989786  23.872040

In [35]:
from scipy.spatial.distance import mahalanobis
from numpy.linalg import inv


# Calculate mean vector and covariance matrix for the 5 columns
mean_vector = df.mean().values
cov_matrix = df.cov().values
inv_cov_matrix = inv(cov_matrix)

# Function to calculate Mahalanobis distance for each observation
def mahalanobis_distance(row, mean_vector, inv_cov_matrix):
    diff = row - mean_vector
    md = np.sqrt(np.dot(np.dot(diff, inv_cov_matrix), diff.T))
    return md

# Apply the function to each row in the DataFrame (using only the relevant columns)
df['Mahalanobis_D2'] = df.apply(lambda row: mahalanobis_distance(row.values, mean_vector, inv_cov_matrix), axis=1)

# Print the results with Mahalanobis distances
df.head(10)

,Price,Distance,Emission,Performance,Mileage,Mahalanobis_D2
0,25530.566552,427.504224,116.525269,353.012446,30.907184,1.392018
1,21543.103572,681.959267,98.837476,173.441809,20.234804,2.389577
2,26311.393694,783.290150,143.086018,490.147319,32.593476,2.427243
3,38301.234960,567.379153,140.569242,330.464130,28.771174,1.138355
4,34843.978034,515.433958,124.058000,235.989786,23.872040,0.925915
5,28938.888561,549.947926,156.724655,219.426943,19.811385,1.590795
6,28279.522043,683.080128,138.882955,395.268634,26.923099,1.236945
7,15370.353756,462.169168,121.417680,324.255480,29.215222,1.589580
8,20962.796035,381.836299,112.200801,239.594081,26.664180,1.672236
9,19318.767974,609.175505,163.447216,427.907724,35.304256,2.101570

In [4]:
from scipy.stats import chi2

In [36]:
df['p-value'] = 1 - chi2.cdf(df['Mahalanobis_D2'], df=5)
df

,Price,Distance,Emission,Performance,Mileage,Mahalanobis_D2,p-value
0,25530.566552,427.504224,116.525269,353.012446,30.907184,1.392018,0.925184
1,21543.103572,681.959267,98.837476,173.441809,20.234804,2.389577,0.793025
2,26311.393694,783.290150,143.086018,490.147319,32.593476,2.427243,0.787410
3,38301.234960,567.379153,140.569242,330.464130,28.771174,1.138355,0.950653
4,34843.978034,515.433958,124.058000,235.989786,23.872040,0.925915,0.968317
5,28938.888561,549.947926,156.724655,219.426943,19.811385,1.590795,0.902360
6,28279.522043,683.080128,138.882955,395.268634,26.923099,1.236945,0.941284
7,15370.353756,462.169168,121.417680,324.255480,29.215222,1.589580,0.902507
8,20962.796035,381.836299,112.200801,239.594081,26.664180,1.672236,0.892379
9,19318.767974,609.175505,163.447216,427.907724,35.304256,2.101570,0.834920
10,39234.044674,619.918182,53.955081,325.736242,27.215349,1.980156,0.851884
11,45605.454620,692.858972,109.513557,280.799976,17.692046,1.895458,0.863413
12,26808.891662,763.872123,125.944845,471.219407,21.371633,2.404628,0.790785
13,49736.072899,719.045232,161.310273,439.024430,26.439513,2.496266,0.777057
14,19603.902477,781.405648,123.908003,143.459053,39.541500,3.313614,0.651758
15,32511.544280,576.429441,176.302090,117.178625,37.662860,2.860466,0.721487
16,25031.717730,314.685763,50.736217,394.257340,39.865462,3.061346,0.690529
17,22720.469918,371.640661,75.252983,339.196361,25.506321,2.059438,0.840861
18,32572.994132,535.966277,140.255352,281.752506,23.526567,0.892047,0.970795
19,37262.188891,641.054353,147.023717,189.559751,23.458879,1.251703,0.939822
20,37248.692867,644.171444,148.906568,274.711042,24.025250,0.956697,0.965982
21,17815.158102,663.035403,131.768937,435.264072,31.900650,1.957154,0.855041
22,35350.181311,794.706426,78.480669,154.068761,34.745190,2.923873,0.711721
23,44371.680080,496.339640,74.095020,322.243540,28.700060,1.986387,0.851025
24,25255.638823,556.682295,81.679838,176.362710,34.634971,1.842467,0.870485
25,49577.541636,760.458613,120.077795,488.585665,26.787517,2.664262,0.751579
26,34151.686417,493.280596,54.615288,440.931327,39.301429,2.830932,0.726032
27,48578.506229,523.463496,98.837894,189.616382,19.020733,2.196161,0.821390
28,27470.047792,523.894027,106.044111,375.792068,20.074685,1.697622,0.889199
29,33102.972705,431.641013,186.621020,192.919771,20.802681,2.590838,0.762757
30,49580.468850,764.412303,83.652890,105.326455,22.879175,2.770892,0.735256
31,22148.821145,558.016738,72.519479,150.850867,21.333304,2.315012,0.804059
32,49161.850400,632.064137,149.234638,108.349966,29.054943,2.546400,0.769491
33,16397.524346,716.143413,174.993684,429.787686,20.003298,2.796185,0.731373
34,15676.433750,301.708802,85.695922,265.479015,33.359476,2.367775,0.796263
35,21790.601697,591.536505,122.370251,181.882680,20.567818,1.824995,0.872791
36,15405.494071,544.069825,165.783421,153.366829,31.319324,2.285702,0.808364
37,30640.544041,436.801473,192.813396,274.998646,36.710537,2.914794,0.713120
38,37817.805908,438.743627,78.567385,181.902310,17.898476,2.261340,0.811928
39,39896.073308,701.431810,199.249228,374.069588,20.315223,2.359175,0.797538

In [39]:
outliers = df[df['p-value']<0.01]
print("Outliers, alpha=1%")
outliers

Outliers, alpha=1%

Empty DataFrame
Columns: [Price, Distance, Emission, Performance, Mileage, Mahalanobis_D2, p-value]
Index: []

### Conclusion 
There is no outliers in the data.